page-payment {
	
	.buttonheaderios {
		border: 1px solid #d82140;
	}
   
   .headername{
      color:#ffffff;
      margin-top:12px;
      font-size: 17px;
      text-align: left;
   }
	[text-canter] {
		text-align: canter !important;
	}
	.label-ios {
		margin: 0;
	}
	.label-md {
		margin: 0;
	}
}
